<div class="list-group" 
	fc-drop="vm.dropFilm(item.link)">	
	<a href="#" 
		ng-repeat="film in vm.filmCollection" 
		class="list-group-item"
		fc-draggable="film" 
		fc-effect-allowed="move"
		ng-click="vm.selectFilm(film)">
		<i class="fa fa-times fa-2 film-delete" ng-click="vm.removeFilm(film)"></i> 
		<i class="fa fa-eye fa-2 film-eye" ng-hide="film.isViewed" ng-click="vm.switchList(film.link)"></i>
		<i class="fa fa-eye-slash fa-2 film-eye" ng-show="film.isViewed" ng-click="vm.switchList(film.link)"></i>
		<div>
			<fc-film-item film="film" />
		</div>
		<div ng-show="vm.selectedFilm === film">
			<fc-film-item-details film="film" />
		</div>  	
  	</a>
</div>