@mixin film-button($right) {
  display: inline-block;
        opacity: 0;    
        position: absolute;
        right: $right;
        top: 5px;
        text-align: center;
        vertical-align: middle;
        margin: 0 5px;
        transition: opacity .2s .2s ease-in-out;
        cursor: pointer;
}

div[dnd-list] {
    min-height: 100px;
    background-color: rgb(221, 221, 221);    

    .dndPlaceholder {
        background-color: rgb(221, 221, 221);
        min-height: 100px;
        text-align: center;
    }
}

a {
    .film-delete {
        @include film-button(5px);
    }
    &:hover {
        .film-delete{
            opacity: 1;
        }
    }

    .film-eye {
        @include film-button(30px);
    }
    &:hover {
        .film-eye{
            opacity: 1;
        }
    }
    .success {
        color: #479652;
    } 
    .fail {
        color: #C3202D;
    }
    .description {
        text-align: justify;
        margin: 10px 0;
    }
    .votes {
        margin-top: 10px;
    }
}

.search-container {
    margin-bottom: 20px;
}

.tree-node {
    display: inline;

    .tree-node-details {
        margin-left: 20px;
        font-size: 10px;
        color: rgb(140, 139, 139);
    }

    .tree-node-title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        width: 90%;
    }

    .film-download {
        display: inline-block;
        float: right;
    }

    .flag {
        width: 16px;
        height: 11px;
        background:url(../assets/images/flags/flags.png) no-repeat
    }

    .flag.flag-ru {
        background-position: -16px 0;
    }
    .flag.flag-ua {
        background-position: 0 -11px;
    }
    .flag.flag-us {
        background-position: -16px -11px;
    }
}
treecontrol.tree-classic li .tree-selected {
        background-color: inherit;
        font-weight: inherit;
}




